
/* ==========================================================================
   HomePage
   ========================================================================== */

.home.page #section1 p {
  font-size: 19px;
}

.home.page #section1 .title-font {
  font-size: 21px;
}

.home.page #section1 .datetime img,
.home.page #section1 .datetime span {
  float: left;
}

.home.page #section1 .datetime .title-font {
  margin: 6px 0 0 12px;
}

.home.page #section1 ul {
  list-style: none;
  margin-top: 30px;
}
.home.page #section1 ul img{
  width: 30px;
}

.home.page #section1 .register{
  margin-top: 32px;
  text-align: center;
}

.home.page #section1 .register p {
  font-size: inherit;
}

.home.page #section1 .register iframe {
  width: 581px;
  display: block;
  margin: 10px auto;
}

.home.page #section1 .register p{
  display: inline-block;
  width: 43%
}

.home.page #section1 .register a span {
  margin-left: 3px;
}

.home.page #section1 .register .attend_line{
  display: inline-block;
  margin-left: 15px;
}

.home.page #section1 .register_button{
  background: #f7931e;
  padding: 15px;
  color: white;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  font-size: 16px;
}

/* THE BIG CHOICES SECTION */

.home.page #section2 {
  padding-bottom: 40px;
}

.home.page #section2 .circle_pic {
  margin-bottom: 20px;
}

.home.page #section2 .item {
  max-width: 200px;
  margin: auto;
}

.home.page #section2 > div p {
  font-size: 15px;
}

.home.page #section4 {
  padding-left: 0;
  padding-right: 0;
}

@media (max-width: 1150px) {
  .datetime li {
    width: 100% !important;
    float: none !important;
    margin-bottom: 30px;
  }

  .datetime li:last-child {
    margin-bottom: 0;
    margin-left: 0;
  }
}



/* Schedule */

#section5 > .inner {
  margin: 0 30px;
}

#section5 .schedule_box .inner {
  background: white;
  border: 1px solid #d7e0e5;
  padding: 20px 30px;
}

#section5 #local .datetime-label {
  float: left;
  width: 75px;
}

#section5 .hr {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

#section5 .schedule_box .content {
  float: left;
  max-width: 540px;
  padding-left: 10px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.home.page #section6 img {
  width: 150px;
  border: 0;
}

/* Speakers */


#section6 {
  margin-bottom: 0;
}

@media (max-width: 768px) {
  #section5 .schedule_box .content {
    max-width: 360px;
  }

  .home.page  #section5 .button-list-vertical,
  .home.page  #section5 .button-list-vertical .button
   {
    width: 100%;
    float: none;
  }

}


@media (max-width: 480px) {

  .home.page h1 {
    margin-top: 20px;
  }
  
  .home.page #section5 > .inner {
    margin: 0;
  }

  .home.page  #section5 .button-list-vertical {
    float: none !important;
  }

  .home.page .wrap {
    padding: 0;
  }
  
  .home.page .section {
    padding: 15px 5px;
  }

  .home.page #video {
    height: 170px;
    margin-bottom: 10px;
  }
  
  #local {
    margin-bottom: 30px;
  }
}