.media-items img {
	max-width: 300px;
}

.media-items li {
	margin: 30px auto 10px;
}

.media-kit .header {
	margin-bottom: 40px;
}


@media (max-width: 1000px) {
  .media-kit #media .span4 {
    width: 100%;
    margin-bottom: 30px;
    margin-left: 0;
    margin-right: 0;
  }
}
