
.page.sponsors #premium .row-fluid {
  border-bottom: 1px solid #D7E0E5;
  padding: 27px 0;
}

.page.sponsors #premium .span2 {

  text-align: center;
}


.page.sponsors #premium .row-fluid:last-child {
  border-bottom: none;
}

.page.sponsors #normal .span6 .row-fluid {
  margin-bottom: 50px;
}

.page.sponsors #normal .row-fluid:last-child .span6 .row-fluid:last-child {
  margin-bottom: 0;
}