.event-details {
  margin: 15px 0;
}

.event-details li {
  float: left;
  margin-right: 10px;
  font-size: 16px;
}

.event-details img {
  height: 20px;
  margin-right: 3px;
  margin-bottom: -5px;
}

.page.talks #upcoming .speaker,
.page.talks #schedule .speaker {
  margin-right: 30px !important;
  text-align: center;
  margin-bottom: 0;
  width: 109px;
  height: 138px;
}

.page.talks #upcoming .speaker:last-child,
.page.talks #schedule .speaker:last-child {
  margin-right: 0 !important;
}

.page.talks #upcoming .speaker .circle_pic {
  width: 100px;
  height: 100px;
}

.page.talks #schedule .circle_pic {
  width: 100px;
  height: 100px;
}

.page.talks #schedule .row-fluid:last-child {
  margin-bottom: 0;
  border-bottom: none;
}

.page.talks #schedule .schedule-item {
  padding: 20px 10px;
}

.page.talks #schedule > li:nth-child(even) {
  border-left: 3px solid #f7931e;  
  background: #FAFCFD;
}

.pages.talks .speaker {
  height: 129px;
}

.page.talks .schedule-item {
  max-width: 1150px;
  margin-left: auto;
  margin-right: auto;
}

.page.talks #schedule p {
  margin-bottom: 0;
}

.page.talks #events {
  padding: 30px 0;
}

.page.talks #schedule > li {
  padding: 15px;
}

.speaker-row {
  margin: 20px auto;
}

.speaker-row div {
  text-align: left;
}

@media (max-width: 950px) {
  .page.talks .speaker, 
  .page.talks .sponsor {
    height: auto;
  }
  
  .page.talks .circle-pic-list {
    margin-bottom: 20px;
  }
  
  .event-details li {
    margin-bottom: 10px;
  }
}