@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700,300|Pathway+Gothic+One);


/* Resets */

iframe {
  border: none;
  width: 100%;
}

ul, ol, p, h1, h2, h3, h4, h5, h6, dl, dt, dd {
  margin: 0;
  padding: 0;
}

ul, ol {
  list-style: none;
}


.page .wrap {
  padding: 0;
}


/* ==========================================================================
   Base
   ========================================================================== */

body {
  font-family: "Fjalla One"Helvetica,Arial,sans-serif;
  font-size: 14px;
  padding: 0;
  margin: 0;
  color: #414141;
}

h1, h2, h3,
.navbar .nav a,
.title-font {
  font-family: 'Pathway Gothic One', sans-serif;
  text-transform: uppercase;
}

h4, h5 {
  font-family: "Open-sans","Helvetica Neue",Helvetica,Arial,sans-serif;
}

h1 {
  font-size: 70px;
  font-weight: 100;
  margin-bottom: 15px;
  line-height: 65px;
  margin-top: -9px;
}

h2 {
	margin-bottom: 10px;
}
  
h3 {
  margin-bottom: 10px;
  font-size: 26px;
  line-height: 27px;
}

h4 {
  font-size: 16px;
  line-height: 18px;
  margin-bottom: 10px;
}

p {
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 10px;
}

p + h2 {
	margin-top: 20px;
}

p + h3 {
	margin-top: 20px;
}

a {
  color: #999;
  text-decoration: underline;
}

a:hover {
  color: #00C3FF;
}

/* =============================================================================
   Chrome
   ========================================================================== */

.wrap {
  padding: 0 30px;
}


/* =============================================================================
   Header
   ========================================================================== */


.navbar .nav > li {
  list-style: none;
}

.navbar .nav > li:last-child:after {
  content: "";
  padding: 0;
}

.navbar .nav > li:after {
  content: ".";
  position: relative;
  top: -6px;
  font-size: 34px;
  padding: 0 16px;
  line-height: 33px;
}

.navbar .nav > li > a  {
  color: #2d2d2e;
  text-transform: uppercase;
  font-size: 22px;
  text-decoration: none;
}

#navbar-aside {
  margin-top: 11px;
}

.nav-share li {
  list-style: none;
  float: left;
  margin-right: 10px;
}

.nav-share a {
  display: block;
  text-indent: -9999px;
  background:transparent url('../img/chrome/nav-share.png') no-repeat 0 0;
  height: 20px;
  width: 20px;
}

.nav-share a:hover {
  -webkit-transition: .4s -webkit-transform cubic-bezier(0.175, 0.885, 0.1, 5);
  -moz-transition: .4s -moz-transform cubic-bezier(0.175, 0.885, 0.1, 5);
  transition: .4s transform cubic-bezier(0.175, 0.885, 0.1, 5);
  -webkit-transform: scale(1.05);
}

.nav-share li:last-child {
  margin-right: 0;
}

.nav-share .fb {
  margin-right: 4px;
}

.nav-share .fb a {
  background-position: 0 0;
}

.nav-share .twitter a {
  background-position: -40px 0;
}

.nav-share .plus a {
  background-position: -20px 0;
}

.nav-share .youtube a {
  background-position: -60px 0;
}

.nav-share .linkedin a {
  background-position: -80px 0;
}

#navbar-aside .button {
  position: relative;
  top: -5px;
  margin-left: 12px;
}


@media (max-width: 979px) {
  .navbar .nav > li {
    margin-top: 5px;
  }  
  
  .navbar .nav > li:after {
    content: "";
    padding: 0;
    position: static;
  }
}


#logo {
  background:transparent url('../img/chrome/logo.png') no-repeat 0 0;
  text-indent: -9999px;
  width: 203px;
  height: 42px;
  margin-right: 12px;
}



@media (max-width: 480px) {
  #navbar-aside,
  #logo {
    float: none !important;
  }
}


/* =============================================================================
   Lists
   ========================================================================== */

.circle-pic-list img {
    -webkit-border-radius:80px;
    -moz-border-radius:80px;
    border-radius:80px;
    max-width: 150px;
    max-height: 150px;
}

/* =============================================================================
   Sections
   ========================================================================== */

.page .section {
  padding: 30px 15px;
  margin-bottom: 0;
  position: relative;
}

.page .section:last-child {
  margin-bottom: 0;
}

.page .sections .section:nth-child(even) {
  background: #eff1f3;
  border-top: 3px #d7e0e5 solid;
  border-bottom: 3px #d7e0e5 solid;
}

.page .sections .section:nth-child(even) .hr {
  border-color: #DEE3E6;
}


.section_title {
  padding: 0 3px 6px;
  margin-bottom: 16px;
  border-bottom: 3px #d7e0e5 solid;
  display: inline-block;
  font-size: 21px;
}


/* =============================================================================
   Sponsor and Speaker sections
   ========================================================================== */

.page .speaker {
	height: 238px;
}

.page .speaker,
.page .sponsor {
  float: left;
  width: 180px;
  display: block;
  text-decoration: none;
}

.page .sponsor {
  width: 180px;
}

.speaker-wrapper,
#sponsor-wrapper {
  width: 855px;
  margin: auto auto -45px auto;
}

.speaker,
.sponsor {
  margin-right: 45px;
  margin-bottom: 45px;
}

.speaker:nth-child(4n),
.sponsor:nth-child(4n) {
  margin-right: 0;
}

@media (max-width: 950px) {
  .speaker-wrapper, #sponsor-wrapper {
    width: 100%;
  }
  
  .speaker-wrapper {
    display: inline-block;
  }
  
  .speaker {
    height: 267px;
  }
  
  .speaker, .sponsor {
    margin-right: auto !important;
    margin-left: auto !important;
    width: 250px;
  }
  
  .speaker .description {
    width: 150px;
    margin-left: auto;
    margin-right: auto;
  }
}


@media (max-width: 480px) {
  .speaker, .sponsor {
    float: none;
  } 
}



/* =============================================================================
   Helpers
   ========================================================================== */

.hidden {
  display: none;
}

.clear {
  clear: both;
  margin-bottom: -1px;
  height: 0;
}

.centered {
  text-align: center;
}

p.subline {
  font-size: 20px;
  color: #57b9d7; /* The baby blue */
  font-weight: 200; 
  margin-bottom: 32px;
  line-height: 23px;
}

h1 + p.subline {
  max-width: 800px;
}

.hr {
  border: 1px solid #ebf0f2;
  height: 0px;
  width: 100%;
  margin: 15px 0;
}

.datetime-label dt,
.person-label dt {
  position: absolute;
  left: -99999px;
}

.person-label dd,
.datetime-label dd {
  font-family: 'Pathway Gothic One', sans-serif;
  font-size: 20px;
}

.person-label .description {
  font-size: 12px;
  font-family: "Open-sans","Helvetica Neue",Helvetica,Arial,sans-serif;
  
}

.person-label .company {
  font-size: 16px;
  margin-bottom: 5px;
}

.datetime-label .time {
  color: #98acb1;
}

.offscreen {
  position: absolute;
  left: -9999px;
}

/* =============================================================================
   Footer
   ========================================================================== */

#footer {
  padding: 60px 5px 50px;
  box-shadow: 0 1px 0 5px #F4F9FF;
  margin-top: 4px;
}

#footer p {
  color: #666;
}

#footer .nav a {
  font-family: 'Pathway Gothic One', sans-serif;
  text-decoration: none;
  font-size: 26px;
  display: block;
  -webkit-transition: .17s background linear;
  -moz-transition: .17s background linear;
  transition: .15s background linear;
  padding: 4px 0 5px 5px;
  border-radius: 3px;
}

#footer .nav a:hover {
  background: #5bbcda;
  color: white;
}

@media (max-width: 768px) {
  #footer .nav {
    margin-bottom: 30px;
  }
  
  #footer .nav a {
    padding-left: 0;
  }
}

/* =============================================================================
   Menu
   ========================================================================== */

.top-menu {
  font-family: Open-sans;
  border-radius: 0;
  left: 0;
  padding: 0;
  right: 0;
  text-transform: uppercase;
  z-index: 1030;
}

.top-menu .navbar-toggle {
  border: none;
  color: white;
  height: 50px;
  line-height: 50px;
  margin: 0;
  padding: 0;
  position: static;
  right: 0;
  text-align: center;
  top: 0;
  width: auto;
}

.top-menu-title {
  display: inline;
  font-family: Museo-300;
  padding-right: 10px;
}

.navbar-button {
  position: static;
  height: 32px;
  padding: 8px 10px;
  background-color: transparent;
  border: 1px solid #dddddd;
  border-radius: 4px;
}

.navbar-button .icon-bar {
  display: block;
  width: 22px;
  height: 2px;
  background-color: #cccccc;
  border-radius: 1px;
}

.navbar-button .icon-bar + .icon-bar {
  margin-top: 4px;
}


/* ==========================================================================
   Content
   ========================================================================== */

.content { }



/* ==========================================================================
   Primary Content
   ========================================================================== */

.main { }


/* Gallery Shortcode */
.row.gallery-row { padding: 15px 0; }


/* ==========================================================================
   Sidebar
   ========================================================================== */

.sidebar { }



/* ==========================================================================
   Posts
   ========================================================================== */

.hentry header { }
.hentry time { }
.hentry .byline { }
.hentry .entry-content { }
.hentry footer { }



/* ==========================================================================
   Footer
   ========================================================================== */

.content-info { }



/* ==========================================================================
   WordPress Generated Classes
   See: http://codex.wordpress.org/CSS#WordPress_Generated_Classes
   ========================================================================== */

.aligncenter { display: block; margin: 0 auto; }
.alignleft { float: left; }
.alignright { float: right; }
figure.alignnone { margin-left: 0; margin-right: 0; }



/* ==========================================================================
   ../img/ Queries
   ========================================================================== */

@media (max-width: 767px) {

}
