@import url(//cdn-images.mailchimp.com/embedcode/classic-081711.css);

.mc_custom_border_hdr {
  font-family: 'Pathway Gothic One', sans-serif;
  width: auto;
}

.overlay-window iframe {
  height: 450px;
}

.mc-embedded-subscribe-form label {
  font-size: 16px;
}

.mce_inline_error {
  color: orange !important;
  font-weight: 600 !important;
  background-color: transparent !important;
  margin-left: 0 !important;
}

.mc-embedded-subscribe-form .mc_merge_var input {
  width: 100%;
  height: 30px;
  padding: 10px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.mc-embedded-subscribe-form .mc_merge_var {
  *zoom: 1;
  margin-bottom: 15px;
  position: relative;
}
.mc-embedded-subscribe-form .mc_merge_var:before,
.mc-embedded-subscribe-form .mc_merge_var:after {
  display: table;
  content: "";
  line-height: 0;
}
.mc-embedded-subscribe-form .mc_merge_var:after {
  clear: both;
}

#mc-indicates-required,
#mc_display_rewards {
  font-size: 11px;
  margin-bottom: 15px;
}

.mc_list li {
  float: left;
  margin-right: 15px !important;
}

#mc-embedded-subscribe-form .button-wrapper {
  margin-right: 13px;
}

#mc-embedded-subscribe-form .button {
  width: 100% !important;
}

#mc_embed_signup {
  background: #EFF1F3;
}

#first-last-wrapper .mc-field-group {
  float: left;
  width: 181px !important;
  clear: none !important;
  margin-right: 10px;
}

.mc-form #mce-responses {
  margin: 0 !important;
  width: 100% !important;
  display: block !important;
  float: none !important;
  padding-left: 0 !important;
}

.mc-form #mce-responses .response {
  float: none !important;
  margin: 5px 0px !important;
  width: 100% !important;
  padding-left: 0 !important;
}

.mc-form,
.mc-form h2 {
  padding-top: 0 !important;
  padding-left: 0;
  margin-top: 0 !important;
}

.mc-form .top {
  background: #EFF5FC;
  padding: 15px 10px;
}

.mc-form .form {
  padding: 10px;
}

.mc-form .indicates-required {
  text-align: left !important;
}

#mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }

