Hack for Big Choices is a non-profit organization of young entrepreneurs. We encourage future leaders to make choices that can have a positive and big impact on the world with the help of existing thought leaders (venture capitalist, academics, senior business executives, etc.).

&nbsp;

<b>TEAM</b>

&nbsp;
<div class="our_team_section">

  <div class="col-lg-3 col-sm-6 speaker">
    <img class="circle_pic" alt="" src="http://www.hackforbigchoices.com/media/Irina.jpg" />
    <h3 class="item_head"> Irina Issakova </h3>
    <h4> Producer and Co-founder <br>  Marketing @ Castlight Health </h4>
    <a class="linkedin" href="http://www.linkedin.com/in/irinaissakova">Linkedin</a><br>
    <a class="twitter" href="http://www.twitter.com/irinai">Twitter</a>
  </div>

  <div class="col-lg-3 col-sm-6 speaker">
    <img class="circle_pic" alt="" src="http://www.hackforbigchoices.com/media/Irina.jpg" />
    <h3 class="item_head"> Irina Issakova </h3>
    <h4> Producer and Co-founder <br>  Marketing @ Castlight Health </h4>
    <a class="linkedin" href="http://www.linkedin.com/in/irinaissakova">Linkedin</a><br>
    <a class="twitter" href="http://www.twitter.com/irinai">Twitter</a>
  </div>



</div>
&nbsp;

<b>WHY ARE WE DOING THIS?</b>

Because we are fortunate enough to live and work in Silicon Valley, a place where anything is possible. But this culture does not exist in other countries. The young people in the cities where the events will take place do not have access to the same entrepreneurial culture and spirit that we almost take for granted.

As immigrants in Silicon Valley, we believe that we live in a global society. We have to face the fact that, when smart young people leave their countries in search of a better life, we take a step towards a less sustainable world. We want to motivate and empower young people across the world to shed their fears, stand up and discover how to use their talents to become next-generation leaders in their local economies. We need to show them how to make the Big Choices that will impact their neighborhood, their city, their country and the entire world.

&nbsp;

<b>WHY ARE WE DIFFERENT?</b>

<b>Everyone is Welcome</b>

Our hackathon is open not just to computer programmers, but everyone - doctors, politicians, designers, scientists and many other professionals. Our event is a forum for these people to come together and make a big impact on the world.

<b>Solving Real Problems</b>

We identify real global problems and let participants work on solutions that can be executed locally and continued to be developed after the hackathon.

<b>Global Scale</b>

While most hackathons are local in nature, ours will be global and held in 12 cities around the world simultaneously, connecting developing and developed countries.

<b>Inspiring Thought Leaders</b>

Too often participants run out of a steam during a 2- or 3-day hackathon. To keep them motivated and focused, we have come up with an innovative strategy to engage the participants and the audience, online and offline. Starting in August, we will distribute testimonials of real problems in design &amp; technology, education and healthcare space through our website.

During the series of events in October, we will bring in experienced thought leaders to share their experiences and opinions, encouraging the audience online and participants to keep going.

<b>Here to Stay</b>

This hackathon will be an annual event to honor Steve Jobs’ legacy by encouraging future leaders to make big choices.

&nbsp;

&nbsp;